{% extends "base.html" %}
{% load tools %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container clear-header">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Checkout</h2>
            <p><strong>Please enter your delivery information</strong></p>
            <p><small class="text-muted">All fields labeled with (*) are required</small></p>
            <form id="payment-form" method="POST" action="{% url 'checkout' %}" class=" border rounded p-3">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ order_form.email | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ order_form.postcode | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ order_form.full_name | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ order_form.street_address1 | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ order_form.street_address2 | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ order_form.town_or_city | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ order_form.phone_number | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ order_form.county | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ order_form.country | as_crispy_field }}
                        {% if user.is_authenticated %}
                        <label for="id-save-info">Save this delivery information to my profile</label>
                        <input id="id-save-info" type="checkbox" class="d-inline-block ml-2 mr-0" name="save-info"
                            checked>
                        {% else %}
                        <label for="id-save-info">
                            <a href="{% url 'account_signup' %}">Create an account</a> or
                            <a href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="">
                            <div id="card-field"></div>
                            <div id="card-error"></div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </div>
                    </div>
                </div>
                <div class="text-center my-2">
                    <button id="submit-btn" class="btn btn-danger submit-btn" type="submit">Checkout</button>
                </div>
            </form>
        </div>
       
        <div class="col-12 col-md-6 border-top">
            <h2>Your Cart</h2>
            <p><strong>Please take a moment to review your cart</strong></p>
            {% for item in cart_items %}
            <div class="row mt-2 py-2{% if forloop.counter|divisibleby:2 %} bg-light{% endif %}">
                <div class="col-6">
                    <div class="d-flex">
                        <img class="cart-img" src="{{ MEDIA_URL }}{{ item.product.image }}"
                            alt="{{ item.product.image }}">
                        <div class="ml-2">
                            <p class="my-1"><strong>{{ item.product.title }}</strong></p>
                            <p class="my-1">{{ item.product.artist }}</p>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <h3 class="cart-sub-header">Quantity</h3>
                    <p>{{ item.quantity }}</p>
                </div>

                <div class="col-3 text-right">
                    <h3 class="cart-sub-header">Total</h3>
                    <p>${{ item.product.price | multiply:item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="row mb-2">
                <div class="col-8 col-md-10 text-right">
                    <p class="m-0">Product(s) total</p>
                    <p class="m-0">Shipping</p>
                    <h4 class="mt-2">Grand total</h4>
                </div>
                <div class="col-4 col-md-2 text-right">
                    <p class="m-0">${{ total|floatformat:2 }}</p>
                    <p class="m-0">${{ delivery|floatformat:2 }}</p>
                    <h4 class="mt-2">${{ grand_total|floatformat:2 }}</h4>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 text-right text-white d-flex justify-content-end">
                    <a class="btn btn-danger btn-lg" href="{% url 'view_cart' %}">
                        <span><i class="fas fa-shopping-cart"></i> Edit Cart</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <div class="payment-loader">
        <h1 class="mr-2">Please wait</h1>
        <i class="fas fa-cog fa-spin fa-4x"></i>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe.js' %}"></script>
<script>
    /* Hide delete icons in cart preview */
    cartDeleteIcons = $(".delete-icon");
    for (let i = 0; i < cartDeleteIcons.length; i++) {
        $(cartDeleteIcons[i]).addClass("d-none");
    }
</script>
{% endblock %}