.bg-black {
    background-color: #000;
}

.logo {
    font-family: 'Shadows Into Light', cursive;
}

.cart-header {
    font-size: 1.5rem;
}

.cart-sub-header {
    font-size: 1rem;
}

.btn-delete {
    background-color: #AA3E2A;
    color: #fff;
}

.delete-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.delete-icon {
    margin-top: 1.8rem;
}

.nav-font {
    font-family: 'Reenie Beanie', cursive;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.sub-heading {
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

.divider {
    height: 1px;
    background-color: #000;
}

.review {
    border-left: 3px solid #6c757d;   
}

.user-icon {
    width: 25%;
}

.my-2.my-sm-0.btn.btn-outline-success.search-btn {
    margin-top: 0;
}

.price {
    font-size: 1.2rem;
}

.details-price {
    font-size: 2rem;
}

.tracks {
    list-style: none;
}

.clear-header {
    margin-top: 12rem;
}

.cart-preview {
    display: none;
    max-width: 50rem;
    min-height: 15rem;
    max-height: 30rem;
    right: 0;
    z-index: 9999;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
}

.cart-item-counter {
    min-height: 1.3rem;
    min-width: 1.3rem;
    top: 0;
    right: 0;
    border-radius: 50%;
    line-height: 1.3rem;
    font-size: .8rem;
}

.fa-times {
    cursor: pointer;
}

.product-tag {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top: 0;
    right: 1rem;
    transform: rotate(20deg);
}

.product-tag p {
    margin-top: .9rem;
}

a:hover {
    text-decoration: none;
}

.btn-lg.btn-success {
    height: 3rem;
}

.cart-img {
    width: 30%;
}

.cart-image-test {
    width: 100%;
}

.cart-details {
    position: sticky;
    bottom: 0;
    right: 1.2rem;
    width: 48rem;
    background: #fff;
}


.message-container {
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 99999;
}

.toast-img {
    width: 10%;
}



@media(max-width: 576px) {
    .product-tag {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        transform: rotate(20deg);
    }
    .product-tag p {
        margin-top: .7rem;
        font-size: .8rem;
    }
}

@media(max-width: 992px) {
    #cart-preview {
        display: none !important;
    }
}

