.bg-black {
    background-color: #000;
}

.logo {
    font-family: 'Shadows Into Light', cursive;
}

.cart-header {
    font-size: 1.5rem;
}

.cart-sub-header {
    font-size: 1rem;
}

.delete-icon {
    margin-top: 1.8rem;
}

.nav-font {
    font-family: 'Neucha', cursive;
    letter-spacing: .2rem;
}

.divider {
    height: 1px;
}

.user-icon {
    width: 25%;
}

.my-2.my-sm-0.btn.btn-outline-success.search-btn {
    margin-top: 0;
}

.price {
    font-size: 1.2rem;
}

.details-price {
    font-size: 2rem;
}

.clear-header {
    margin-top: 6rem;
}

.cart-preview {
    display: none;
    max-width: 45rem;
    height: 25rem;
    right: 0;
    z-index: 9999;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
}

.cart-item-counter {
    min-height: 1.3rem;
    min-width: 1.3rem;
    top: 0;
    right: 0;
    border-radius: 50%;
    line-height: 1.3rem;
    font-size: .8rem;
}

.fa-times {
    cursor: pointer;
}

.product-tag {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top: 0;
    right: 1rem;
    transform: rotate(20deg);
}

.product-tag p {
    margin-top: .9rem;
}

a:hover {
    text-decoration: none;
}

.btn-lg.btn-success {
    height: 3rem;
}

.cart-img {
    width: 30%;
}

.message-container {
    position: fixed;
    top: 7rem;
    right: 1rem;
    z-index: 99999;
}

.toast-img {
    width: 10%;
}



@media(max-width: 576px) {
    .product-tag {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        transform: rotate(20deg);
    }
    .product-tag p {
        margin-top: .7rem;
        font-size: .8rem;
    }
}

