.bg-black {
    background-color: #000;
}

.logo {
    font-family: 'Shadows Into Light', cursive;
}

.nav-font {
    font-family: 'Neucha', cursive;
    letter-spacing: .2rem;
}

.user-icon {
    width: 25%;
}

.my-2.my-sm-0.btn.btn-outline-success.search-btn {
    margin-top: 0;
}

.price {
    font-size: 1.2rem;
}

.details-price {
    font-size: 2rem;
}

.clear-header {
    margin-top: 6rem;
}

.cart-preview {
    min-width: 50rem;
    right: 0;
    z-index: 9999;
}

.product-tag {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top: 0;
    right: 1rem;
    transform: rotate(20deg);
}

.product-tag p {
    margin-top: .9rem;
}

a:hover {
    text-decoration: none;
}

.btn-lg.btn-success {
    height: 3rem;
}



@media(max-width: 576px) {
    .product-tag {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        transform: rotate(20deg);
    }
    .product-tag p {
        margin-top: .7rem;
        font-size: .8rem;
    }
}

