<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5 nav-font text-white" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Records
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=genre&direction=asc" class="dropdown-item">By Genre</a>
                <a href="{% url 'products' %}?sort=era&direction=asc" class="dropdown-item">By Era</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=avg_rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Albums</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5 nav-font text-white" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sub-Genres
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?genre=hardcore" class="dropdown-item">Hardcore</a>
                <a href="{% url 'products' %}?genre=ska_punk" class="dropdown-item">Ska</a>
                <a href="{% url 'products' %}?genre=skate_punk" class="dropdown-item">Skate Punk</a>
                <a href="{% url 'products' %}?genre=pop_punk" class="dropdown-item">Pop Punk</a>
                <a href="{% url 'products' %}?genre=old_school_punk" class="dropdown-item">Old School</a>
                
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5 nav-font text-white" id="products-era-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eras
            </a>
            <div class="dropdown-menu border-black" aria-labelledby="products-era-link">
                <a href="{% url 'products' %}?era=1980" class="dropdown-item">1980's</a>
                <a href="{% url 'products' %}?era=1990" class="dropdown-item">1990's</a>
                <a href="{% url 'products' %}?era=2000" class="dropdown-item">2000's</a>
                <a href="{% url 'products' %}?era=2010" class="dropdown-item">2010's</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?special_edition=True" class="logo-font font-weight-bold nav-link text-black mr-5 nav-font text-white" id="specials-link"
                aria-expanded="false">
                Special Editions
            </a>
        </li>
    </ul>
</div>