{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container clear-header">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="logo">Add Tracks</h2>
            <form method="POST" action="{% url 'add_tracks' %}">
                {% csrf_token %}
                <select class="m-2 track-select" name="album" title="Select an album" required>
                    <option value="" selected disabled >Choose an album</option>
                    {% for album in albums %}
                    <option value="{{album.id}}">{{ album.title }}</option>
                    {% endfor %}
                </select>
                <div class="track-inputs">
                    <div class="m-2 input-wrapper">
                        <p class="mb-2">Title</p>
                        <input type="text" class="track-input" title="track title" required>
                    </div>
                </div>
                <div>
                    <i id="add-input" class="fas fa-plus-circle fa-3x text-secondary" data-toggle="tooltip"
                        data-placement="bottom" title="Add another field"></i>
                </div>
                <div class="mt-4">
                    <a class="btn btn-white btn-lg" href="{% url 'products' %}">
                        <span><i class="fas fa-chevron-left"></i> Take med back</span>
                    </a>
                    <button type="submit" class="btn btn-danger btn-lg">Add Tracks</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'products/js/edit.js' %}" ></script>
{% endblock %}