{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-2">
        {% for album in albums %}
        <div class="col-6 col-md-4 col-lg-3 my-4 position-relative">
            <a href="{% url 'product_details' album.id %}"><img class="w-100" src="{{ MEDIA_URL }}{{ album.image }}" alt="{{ album.title }}"></a>
            <div class="my-2 d-flex justify-content-center">
                <p class="mr-2 my-2 price"><strong>${{ album.price }}</strong></p>
                <button class="ml-2 btn btn-success">BUY</button>
            </div>
            <p class="text-center my-0"><strong>{{ album.title }}</strong></p>
            <p class="text-muted text-center my-0">{{ album.artist }}</p>
            {% if album.special_edition  %}
            <div class="bg-danger position-absolute product-tag">
                <p class="text-center text-light"><strong>Special Edition</strong></p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}